src/main/mule/foreach-loop.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="foreach-loopFlow" doc:id="0e10aa64-e961-4566-9eb6-b1a048a58933" >
		<http:listener doc:name="Listener" doc:id="839bd7f5-7c3b-42ec-9194-267bf6ab2556" path="/foreach" config-ref="HTTP_Listener_config"/>
		<file:read doc:name="Read" doc:id="382bcd0f-5dcb-40f2-bd50-f24be650e1c2" path="C:\Code\MuleSoft\mulesoft-basics\src\main\resources\MOCK_DATA.json" config-ref="File_Config"/>
		<foreach doc:name="For Each" doc:id="ed5f75b6-26b9-40ec-bd12-cd20445575b4" batchSize="10">
			<logger level="INFO" doc:name="Logger" doc:id="3694d08d-b077-4505-8e23-f9fdae2c894d" message="#[payload]"/>
			<set-variable value="#[payload]" doc:name="Set Variable" doc:id="6b7ecebe-5ddc-4abf-9703-0f0d4f928527" variableName="currentPayload"/>
			<logger level="INFO" doc:name="Logger" doc:id="a35f8190-8b47-4e17-99f1-676b76a1af2e" />
			<ee:transform doc:name="Transform Message" doc:id="3e13be56-d43c-4ef9-a563-376a8ed1389f" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Records: payload map ((item, index) -> {
		Id: item.id,
		FirstName: item.first_name,
		LastName: item.last_name,
		EMail: item.email,
		Gender:item.gender,
		IPAddress: item.ip_address
	})
}]]></ee:set-payload>
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="groupedResult" ><![CDATA[%dw 2.0
output application/json	
---
{
	FinalResult: vars.currentPayload
}
]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<file:write doc:name="Write" doc:id="9bb106b0-d423-4006-9743-30aa4f6f08a7" path='#["content" ++ vars.counter ++ ".json"]' config-ref="File_Config"/>
		</foreach>
	</flow>
</mule>
