src/main/mule/component-basics/mule-utils.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="mule-utilsFlow" doc:id="50261761-1eaf-4ad2-beed-aa7834e36fb6" initialState="stopped">
		<http:listener doc:name="Listener" doc:id="ba60772f-e44a-4100-b36c-bd93c1ea5c41" path="/token" allowedMethods="GET" config-ref="HTTP_Listener_config"/>
		<set-variable value="#[attributes.headers.Token]" doc:name="Set Variable" doc:id="25f814b3-f766-4155-b906-ffe93bcef7cb" variableName="oAuthToken"/>
		<http:request method="GET" doc:name="Request" doc:id="9e1031af-7483-45cc-b20d-42ddc68bc738" path="/origination/workflow/roles/v1/3/tiers?IncludeInActive=true" config-ref="HTTP_Request_configuration">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.oAuthToken
}]]]></http:headers>
		</http:request>
	</flow>
</mule>
